@keyframes origami {
    0% {
        right: -20px;
        bottom: 0;
    }
    
    50% {
        transform: rotate(360deg);
        right: 5%;
        bottom: 3%;
    }

    100% {
        transform: translateX(0%);
        right: 5px;
        bottom: 5px;
    }
}