header{
    background-color: cornflowerblue;
    height: 50px; //pory
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo-container{
        height: 100%;

        img{
            height: 90%;
        }
    }
}