.book-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: auto;
    gap: 20px;

    @media screen and (min-width: 550px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
    }
}