<app-header></app-header>
<div class="homepage-container">
  <video
    loop
    muted
    autoplay
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
  >
    <source src="../../../assets/lofi.mp4" type="video/mp4" />
  </video>

  <h1 class="homepage-title">QUALE LIBRO STAI CERCANDO?</h1>

  <app-search-bar (results)="updateBooks($event)"></app-search-bar>

  <div class="book-cards-wrapper">
    <app-book-card *ngFor="let result of results" [result]="result">
    </app-book-card>
  </div>
</div>
