<app-header></app-header>
<div class="product-page-container" *ngFor="let book of productData.items">
  <div data-aos="fade-right" data-aos-duration="1000" class="product-image">
    <img
      *ngIf="book.volumeInfo.imageLinks.thumbnail"
      [src]="book.volumeInfo.imageLinks.thumbnail"
      alt=""
    />
    <img
      *ngIf="!book.volumeInfo.imageLinks.thumbnail"
      [src]="book.volumeInfo.imageLinks.thumbnail"
      alt=""
    />
    <div
      class="book-maturity-box"
      *ngIf="book.volumeInfo.maturityRating == 'MATURE'"
    >
      18+
    </div>
  </div>
  <div data-aos="fade-left" data-aos-duration="1000" class="product-info">
    <h1 class="product-title">{{ book.volumeInfo.title }}</h1>
    <h3 *ngIf="book.volumeInfo.subtitle" class="product-title">
      {{ book.volumeInfo.subtitle }}
    </h3>
    <p class="product-credits">
      <strong *ngFor="let author of book.volumeInfo.authors"
        >{{ author }}
      </strong>
      <span> - {{ book.volumeInfo.publishedDate }}</span>
      <br /><br />
      <span *ngIf="book.volumeInfo.publisher"
        >Pubblicato da {{ book.volumeInfo.publisher }}</span
      >
    </p>
    <p class="product-description">
      {{ book.volumeInfo.description }}
    </p>
    <div class="product-links">
      <div
        *ngIf="book.volumeInfo.previewLink"
        class="preview-button product-link-button"
      >
        <a [href]="book.volumeInfo.previewLink" target="_blank">
          <img src="../../../assets/images/googleplaybooks.png" alt="" />
        </a>
      </div>
      <div
        *ngIf="book.volumeInfo.infoLink"
        class="info-button product-link-button"
      >
        <a [href]="book.volumeInfo.infoLink" target="_blank">
          <img src="../../../assets/images/googleplay.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="origami"></div>
