<a
  data-aos="fade-up"
  data-aos-duration="1000"
  routerLink="/book/{{ result.id }}/{{ result.title }}"
  class="book-card-container"
>
  <div class="book-card">
    <img
      *ngIf="result.imageLinks"
      [src]="result.imageLinks"
      [alt]="result.title"
    />
    <img
      style="opacity: 0.3"
      *ngIf="!result.imageLinks"
      src="../../../assets/images/work-in-progress.jpg"
      [alt]="result.title"
    />
    <div class="book-info">
      <h2 class="book-card-title">{{ result.title }}</h2>
      <p>{{ result.authors }}</p>
      <div class="book-maturity-box" *ngIf="result.maturityRating == 'MATURE'">
        18+
      </div>
      <p class="book-card-description">{{ result.description }}</p>
    </div>
  </div>
</a>
