.book-card-container{
    min-width: -webkit-fill-available;
    position: relative;
    height: 100%;
    display: grid;

    .book-card{
        &:hover{
            .book-info{
                transition: 0.8s;
                opacity: 0.9;
            }
        }
        
        img{
            width: 100%;
            height: 100%;
        }
        .book-info{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            height: 100%;
            color: white; //pory
            background-color: black; //pory
            width: 100%;

            .book-card-title{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: 'M PLUS Rounded 1c', sans-serif;
            }

            .book-card-description{
                overflow-y: scroll;
                max-height: 70%;
            }

            .book-maturity-box{
                width: 60px;
                height: 60px;
                font-size: 28px;
                background-color: red; //pory
                color: white; //pory
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -20px;
                right: -20px;
            }
        }
    }
}